@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* font-family: 'Play', sans-serif; */
* {
    margin: 0;
}
body {
    text-align: center;
    font-family: 'Play', sans-serif;
   
}
.aniR {
    animation-name: schweb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.aniP {
    animation-name: schweb;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.aniS {
    animation-name: schweb;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes schweb {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -10px);}
    to {transform: translate(0, -0px);}
}
.sign {
    font-size: 1.2rem;
    animation-name: sign;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes sign {
    from {font-size: 1.5rem;}
    50% {font-size: 1.7rem;}
    to {font-size: 1.8rem;}
}
header {
    margin: 1% auto;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
header img {
    height: 7vh;
    padding-right: 2%;
    animation-name: imgAn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes imgAn {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, 10px);}
    to {transform:translate(0, -0px);}
}
main {
    background: #282829;
    color: whitesmoke;
}
form {
    padding-top: 2%;
}
#round {
    border: 4px solid whitesmoke;
    border-radius: 10px;
    margin: 0 35%;
    padding: 1.5%;
    font-size: 2rem;
}
/* Radio Button Style */
input[type="radio"] {
    display: none;
  }
input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2rem;
    border-color: whitesmoke;
}
input[type="radio"]:checked + * {
    color: teal;
}
input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
    border-color: teal;
}
  
#icon {
    display: flex;
    justify-content: center;
}
#icon img {
    height: 10vh;
    background: teal;
    border-radius: 50%;
    border: 4px solid whitesmoke;
    padding: 5%;
    margin: 2%;
}
#radio-hide {
    display: none;
}
#radio {
    display: block;
}
#input-one {
    padding-top: 5%;
}
#input-one label:nth-of-type(1){
    margin-right: 20%;
}
#input-two label:nth-of-type(1){
    margin-right: 20%;
}
#play {
    font-size: 2.5rem;
    margin: 3%;
}
#score {
    display: flex;
    justify-content: center;
    padding: 1% 0;
    border: 3px solid whitesmoke;
    margin: 1% 40%;
    border-radius: 10px;
    position: relative;
}
#user-sign {
    background: rgb(230, 32, 32);
    position: absolute;
    top: 25px;
    left: -25px;
    padding: 10px;
    font-weight: bold;
}
#comp-sign {
    background: rgb(230, 32, 32);
    position: absolute;
    top: 25px;
    right: -25px;
    padding: 10px;
    font-weight: bold;
}
#user , #comp , #p {
    font-size: 3rem;
}
div {
    padding: 1%;
}
label {
    padding: 1%;
}
p {
    font-size: 1.3rem;
}

#end-hide {
    display: block;
}

#restart {
    padding: 0.5% 1%;
    font-size: 1.5rem;
    margin: 2% auto 5%;
    color: rgb(230, 32, 32);
    border-radius: 30px;
    font-weight: bold;
    border-style: none;
}

/* deko icons by play */
.win {
    box-shadow: 0 0 30px rgb(65, 168, 65);
}
.lose {
    box-shadow: 0 0 30px rgb(146, 19, 19);
}
.draw {
    box-shadow: 0 0 30px rgb(131, 127, 127);
}


/* Media queries */